.title {
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    &_left {
        text-align: left;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
    }
    &_comment{
        margin-bottom: 30px;
    }
}
