@media (max-width: 519px) {
    .promo {
        min-width: 420px;
        .header {
            display: block;
            margin: 0 auto;
            &__official {
                display: none;
            }
            &__contacts {
                display: none;
            }
        }
        &__header {
            text-align: center;
            padding: 0 20px 0 20px;
        }
        &__subheader {
            text-align: center;
            padding: 0 10px 0 10px;
        }
        &__icons {
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-top: 25px;
        }
        button {
            display: block;
            margin: 0 auto;
            margin-top: 20px;
        }
        &__link {
            display: block;
            margin: 0 auto;
        }
    }

    .adv {
        min-width: 420px;
        &__items {
            padding: 0 50px 0 50px;
            grid-template-columns: 1fr !important;
        }
        &__header {
            padding: 0 10px 0 10px;
        }
    }

    .consultation {
        min-width: 420px;
        .title_left,
        &__descr {
            font-size: 25px;
            text-align: center;
        }
        .feed-form {
            display: block;
            margin: 20px auto;
            input {
                width: 100%;
            }
        }
    }
    .carousel {
        min-width: 420px;
        &__inner img {
            display: block;
            margin: 0 auto;
            width: 500px;
        }
        .slick-prev, .slick-next{
            z-index: -1;
            left: 35;
        }
        .slick-next{
            right: 166px;
        }
    }
    .catalog{
        min-width: 420px;
        &__tabs{
            display: block;
            margin: 0 auto;
            width: 300px;
        }
        &__tab{
            font-size: 6px;
        }
        .title{
            padding: 0 50px;
            line-height: 45px;
        }
        &-item{
            display: block;
            margin: 0 auto;
        }
    }
    .comment{
        .title_comment{
            font-size: 20px;
        }
        text-align: center;
        min-width: 420px;
        &__item{
            flex-direction: column;
        }
        &__descr{
            max-width: 360px;
        }

    }
}
@media (max-width: 769px) {
    .promo {
        .header {
            justify-content: center;
            &__official {
                display: none;
            }
        }
        &__header,
        &__subheader,
        &__icons {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        button {
            display: block;
            margin: 0 auto;
            margin-top: 30px;
            text-align: center;
        }
        &__link {
            display: block;
            margin: 0 auto;
            margin-top: 0;
            text-align: center;
        }
    }
    .adv {
        .adv__items {
            width: 300px;
            grid-template-columns: 6fr;
            margin: 0 auto;
            gap: 30px;
        }
    }
    .consultation {
        .title_left,
        &__descr {
            font-size: 30px;
            text-align: center;
        }
        .feed-form {
            display: block;
            margin: 20px auto;
            input {
                width: 100%;
            }
        }
    }
    .catalog{
        &__content{
            padding: 0 50px;

        }
    }
    .comment{
        &__descr{
            width: 520px;
        }
    }
}
